input:focus, textarea:focus, select:focus{
    outline: none;
}
.row .col-6 .search-box{
    border: 1px solid #C6C6C6;
    padding: 5px;
    width: 430px;

    border-radius: 5px;
}
.row .col-6 .search-box::placeholder{
    color: #8C8C8C;
    font-size: 15px;
}
.row .col-6 .search-icon{
    background-color: #1562AA;
    color: white;

    padding: 10px;
    border-radius: 5px;
}
.row .col-6 .times{
    background-color: #0D5497;
    color: white;

    width: 300px;
    padding: 7px;
    border-radius: 5px;

    text-align: center;
    float:right;
}

.row .nomor-nota{
    font-style: italic;
    color: #747474;
}

.row .table tr th{
    background-color: #0D5497;
    color: white;

    text-align: left;
}
.row .table tr td{
    text-align: left;
}

.row .col-4 .row .nama-pelanggan{
    background-color: white;
    color: black;
    border: 1px solid #C6C6C6;

    padding: 5px;
    width: 310px;

    border-radius: 6px;
    margin-bottom: 6px;
}
.row .col-4 .row .subtotal-label, .row .col-4 .row .diskon-label{
    background-color: #1A79D0;
    color: white;

    padding: 5px;
    width: 120px;

    text-align: center;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px -2px black;
}
.row .col-4 .row .subtotal, .row .col-4 .row .diskon{
    height: 35px;
    width: 195px;

    background-color: white;
    color: black;
    border: 1px solid #C6C6C6;

    border-radius: 5px;
}

.row .col-4 .row .total-label{
    background-color: #12518B;
    color: white;
    border-radius: 5px;
    padding: 5px;
    width: 120px;
    height: 40px;

    text-align: center;
    margin-right: 10px;
    box-shadow: 0px 0px 5px -2px black;
}
.row .col-4 .row .total{
    height: 43px;
    width: 195px;
    border-radius: 2px;

    background-color: white;
    color: black;
    border: 1px solid #C6C6C6;

    border-radius: 5px;
}

.row .col-4 .payment-method-tunai{
    padding: 10px;
}

.row .col-4 .row .selesai{
    
    color: white;

    padding: 11px;
    text-align: center;
    width: 300px;

    margin-bottom: 10px;
    box-shadow: 0px 0px 5px -2px black;
}

.selesaiindi{
    background-color: #3f9e04;
}

.printindi{
    background-color: #1145ff;
}
.row .col-4 .row .tunda{
    background-color: #247CCD;
    color: white;

    padding: 11px;
    text-align: center;
    width: 300px;

    margin-bottom: 10px;
    box-shadow: 0px 0px 5px -2px black;
}
.row .col-4 .row .reset{
    background-color: #EE3F3F;
    color: white;
    box-shadow: 0px 0px 5px -2px black;

    padding: 11px;
    text-align: center;
    width: 300px;
    margin-bottom: 10px;
}

.next{
    box-shadow: 0px 0px 5px -2px black;
    padding: 11px;
    width: 300px;

    color: white;
    background-color: #0d5599;

    border: none;
    box-shadow: none;
    border-radius: 0.25rem;
    cursor: pointer;
    
}


.drop {
    position: absolute;
    background-color: white;
    z-index: 5;
}

.drop ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: block;
}

.drop ul li {
    border: 1px solid black;
    margin: 0px;

}

.drop ul li div {
    padding: 10px;
}

.goodtr {
    transition: .2s;
}




ul li .active {
    background-color: #E5E5E5;
    border-radius: 200px !important;
}






#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */

    display: inline;
  }
  
  #myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 3;
    box-shadow: 0px 0px 5px -2px black;
    width:  600px;
    top: 100px;
    border-radius:  0px 0px 20px 20px;
  }
  
  #myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #ffffff; /* Grey background color */
    padding: 6px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 12pt; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
  }

  .searcher{
      display: block;
  }