@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

body {
    background-image: linear-gradient(to right, #06335C, #1562AA);
}

.container .col img {
    margin-top: 30px;
}

.container .col h3 {
    color: #FAE511;
}

.container .col .username input, .email input, .katasandi input, .konfirmasi input {
    padding: 10px;
    border: 2px solid white;
    background-color: transparent;

    width: 300px;
    border-radius: 100px;
}

.container .col .username input, .email input, .katasandi input, .konfirmasi input {
    color: white;
}

.container .col .request-akun {
    background-color: white;
    color: #022F59;
    font-weight: bold;

    padding: 11px;
    text-align: center;
    text-decoration: none;
    width: 300px;
    border-radius: 100px;
}

button {
    border: 0px;
}