@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* {
    font-family: 'Open Sans', sans-serif;
}

.content-wrapper {
    background-color: #E5E5E5;


}

.myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 3;
    box-shadow: 0px 0px 5px -2px black;
    width:  600px;
    top: 100px;
  }
  
  .myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
  }
  
  .myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
  }

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
  @font-face {
      font-family: 'Open Sans Bolder';
      font-style: normal;
      font-weight: 300;
      src: url("../../storage/fonts/OpenSans-SemiBold.ttf");
  }
  
  * {
      font-family: 'Open Sans', sans-serif;
  }
  
  .content-wrapper {
      background-color: #f0eeee;
  
  
  }
  
  .bg {
      background-color: #0D5497;
      color: white;
      border: none;
  }
  
  
  .bgnavbar {
      background-color: none;
      border: none;
  }
  
  .brand-link {
      background-color: #1A79D0;
      border: none;
  }
  
  .sidebar {
      border: none;
      font-weight: bold;
  }
  
  .main-sidebar {
      background-color: #06335C;
      text-align: center;
  }
  
  .brand-text {
      color: white;
      font-weight: bold;
      margin-left: 10px;
      font-family: 'Open Sans', sans-serif;
  }
  
  .brand-image {
      margin-left: 90px;
  }
  
  li .nav-item .active {
  
      background-color: red;
  }
  
  .nav-link {
      border-radius: 30px !important;
  }
  
  .navbar-nav>.active>a {
      background-color: #ffffff;
      color: green;
  }
  
  
  
  
  
  .nav-link-custom {
      display: block;
      padding: 0px;
      margin: 0px;
      border-radius: 50px;
    
  }
  
  .nav-link-custom:hover {
      color: rgb(50, 46, 248);
  }
  
  .nav-link-custom p:hover {
      background: white
  }
  
  .nav-link-custom p {
      margin: 0px;
    
  
      border-radius: 30px;
      transition: .2s;
  }
  
  .nav-link-custom p:hover {
      margin: 0px;
      color: #247CCD;
      padding: 10px;
      border-radius: 30px;
  }
  
  .sidebar  .nav-link{
      color: white !important;
  }
  
  .sidebar .active {
      background-color: white !important;
      color: #1363ae !important;
  }
  
  
  /* CSS UNTUK HALAMAN KASIR */
  
  
  /* 
  .row .col-4 .row .nama-pelanggan{
      border: 1px solid #C6C6C6;
      border-radius: 100px;
  
      padding: 5px;
      width: 320px;
      margin-top: 26px;
  }
  .row .col-4 .row .col-2 .subtotal{
      background-color: #1A79D0;
      color: white;
  
      padding: 8px;
      width: 100px;
      margin-top: 2px;
      text-align: center;
      margin-bottom: 0;
      margin-left: -7px;
  }
  .row .col-4 .row .col-2 .subtotal-input{
      border: 1px solid #C6C6C6;
  
      padding: 7px;
      margin-left: 37px;
      margin-top: 2px;
      width: 216px;
  }
  .row .col-4 .row .col-2 .total{
      background-color: #12518B;
      color: white;
  
      padding: 15px;
      width: 100px;
      margin-top: 2px;
      text-align: center;
      margin-bottom: 0;
      margin-left: -7px;
  }
  .row .col-4 .row .col-2 .total-input{
      border: 1px solid #C6C6C6;
  
      padding: 14.5px;
      margin-left: 37px;
      margin-top: 2px;
      width: 216px;
  }
  
  .payment-method #tunai{
  
      color: white;
  
      padding: 3px;
      width: 350px;
  }
  .payment-method .row .col-2 .method-1{
      margin-left: -40px;
  }
  .payment-method .row .col-2 .methods{
      margin-left: 30px;
  }
  
  .payment-method #kredit{
   
      color: white;
  
      padding: 3px;
      width: 350px;
  }
  
  .option .row .col-2 .selesai{
      background-color: #48BE00;
      color: white;
      border: none;
  
      padding: 10.5px;
      width: 290px;
      font-size: 25px;
  }
  .option .row .col-2 .tunda{
      background-color: #247CCD;
      color: white;
      border: none;
  
      padding: 10.5px;
      width: 290px;
      font-size: 25px;
  }
  .option .row .col-2 .reset{
      background-color: #EE3F3F;
      color: white;
      border: none;
  
      padding: 10.5px;
      width: 290px;
      font-size: 25px;
  } */
  
  
  /* .option .options {
      margin-top: 8px;
  }
  
  
  
  .drop {
      position: absolute;
      background-color: white;
      z-index: 5;
  }
  
  .drop ul {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      display: block;
  }
  
  .drop ul li {
      border: 1px solid black;
      margin: 0px;
  
  }
  
  .drop ul li div {
      padding: 10px;
  }
  
  .goodtr {
      transition: .2s;
  }
  
  
  
  
  ul li .active {
      background-color: #E5E5E5;
      border-radius: 200px !important;
  } */