.row .col-12 .search-box {
    border: 1px solid #C6C6C6;
    padding: 5px;
    width: 430px;

    border-radius: 5px;
}

.row .col-12 .search-box::placeholder {
    color: #8C8C8C;
    font-size: 15px;

    padding-left: 10px;
}

.row .col-12 .search-icon {
    background-color: #1562AA;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
}

.row .date {
    margin-left: 20px;
    margin-top: 35px;

    font-weight: bold;
}

.history-transaksi {
    background-color: white;
}

.card {
    box-shadow: none;
    padding: 0px;
    border-radius: 15px;
}

.card table {
    margin: 15px;
    text-align: center;
    margin: 0px;
    border: none;
    margin-bottom: 13px;
    margin-top: 10px;
    margin-right: 10px
}

.card .table tbody tr td {
    font-size: 13px;
    font-weight: bolder;

    padding-bottom: 0;
    text-align: center;
}

.card .table thead tr th {
    font-size: 13px;
    font-weight: normal;

    text-align: center;
}

.card .table tr td div i {
    color: #48BE00;

    font-size: large;
}

.card .table tr td div i {
    color: #48BE00;

    font-size: large;
}

.card .table tr td div .selectless {
    color: lightslategray;
}

.col-6 .search-icon {
    border-radius: 10px;
}

input {
    border-radius: 10px;
}


.paid-off-content {
    display: none;
}

table td{
    padding: 10px;
}

table{
 
}



